body {
    background-color: #ffc107;
    position: relative;
}
ul.nav-pills {
top: 20px;
position:sticky;
}
div.col-8 div {
height: auto;
}
.carousel-img {
    max-height: 500px;
    max-width: 95%;
}
h2, h5, h4 {
    /* font-family: 'Shadows Into Light', cursive; 
    font-weight: bolder; */

    font-family: 'Yantramanav', sans-serif;
}
#headline {
    font-style: italic;
}
.nav-link {
    /* font-family: 'Shadows Into Light', cursive;
    font-weight: bolder; */
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem !important;
    color: black; 
}
p {
    font-family: 'Raleway', sans-serif;
}
div {
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}
